<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Document</title>
</head>

<body>
  <section class="main-wrapper">
    <div class="header">Header</div>
    <div class="sidebar">Sidebar</div>
    <div class="main-content">
      <h1>main1</h1>
      <h1>main2</h1>
      <h1>main3</h1>
      <h1>main4</h1>
      <h1>main5</h1>
      <h1>main6</h1>
      <h1>main7</h1>
      <h1>main8</h1>
      <h1>main9</h1>
      <h1>main10</h1>
      <h1>main11</h1>
      <h1>main12</h1>
      <h1>main13</h1>
      <h1>main14</h1>
      <h1>main15</h1>
      <h1>main16</h1>
      <h1>main17</h1>
      <h1>main18</h1>
      <h1>main19</h1>
      <h1>main20</h1>
      <h1>main21</h1>
      <h1>main22</h1>
      <h1>main23</h1>
      <h1>main24</h1>
      <h1>main25</h1>
      <h1>main26</h1>
    </div>
    <div class="footer">Footer</div>
  </section>
</body>

</html>